{% extends 'base.html' %}

{% block content %}

    <h1>Ваши результаты:</h1>

    <ul>
        {% for question in test.question_set.all %}
            <div class="list-group">
                <h4>{{ question.text }}</h4>
                <div class="list-group">
                    {% for answer in question.answer_set.all %}
                        {% if answer in user_answers %}
                            {% if answer.is_right %}
                                <div class="list-group-item list-group-item-success"><b>{{ answer.text }} ✅</b></div>
                            {% else %}
                                <div class="list-group-item list-group-item-danger"><b>{{ answer.text }} ❌</b></div>
                            {% endif %}
                        {% else %}
                            {% if answer.is_right %}
                                <div class="list-group-item list-group-item-secondary">{{ answer.text }} ✅</div>
                            {% else %}
                                <div class="list-group-item list-group-item-secondary">{{ answer.text }}</div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </ul>

    <a class="btn btn-secondary" href="{% url 'test_suite' test_suite_id=test.test_suite.id %}">Назад к тестам</a>

{% endblock %}