{% extends 'base.html' %}

{% block content %}

    <h1>Тесты из набора:</h1>

    <div class="list-group">
        {% if test_list %}
            {% for test in test_list %}
                <a class="list-group-item list-group-item-success"
                   href="{% url 'test' test_suite_id=test.test_suite.id test_id=test.id %}">{{ test.title }}</a>
            {% endfor %}
        {% else %}

            <p>К сожалению, тут ещё не появилось ни одного теста...</p>

        {% endif %}

        <a class="btn btn-secondary" href="{% url 'test_suites' %}">Назад к тестовым наборам</a>
    </div>

{% endblock %}